$blue: #0290ff;
$lightgrey: #fafafa;
$border: #e8e8e8;
$darkgrey: #888;
$blue2: #6da1ce;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $lightgrey;
}

.mainBlue {
  color: $blue;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.navBar {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid $border;
  margin-bottom: 40px;
  width: 100%;
  padding: 0 5%;
}

.navLinks {
  list-style: none;
  padding-left: 40px;
  flex-wrap: wrap;
  gap: 10px 0;
}

.navLinks > li > a {
  text-decoration: none;
  color: #000;
  padding-right: 40px;
}

.navLinks > li > a:hover {
  color: $blue;
}

.colorBlue {
  color: $blue2;
}

.bookContainer {
  flex-direction: column;
  gap: 30px 0;
  background-color: #fff;
  border: 1px solid $border;
  margin-bottom: 20px;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: center;
}

.seperator {
  flex-direction: column;
  gap: 30px 40px;
  align-items: center;
  padding: 0 5%;
}

.btns {
  margin-top: 10px;
}

.booksContainer {
  margin: 0 5%;
}

.progressBar {
  gap: 0 20px;
  align-items: center;
}

.bookList {
  list-style-type: none;
}

#form-title {
  color: $darkgrey;
  font-weight: 600;
  padding-top: 20px;
  border-top: 1px solid $border;
  width: 100%;
}

#title,
#author {
  border: 1px solid $border;
  padding: 10px;
  width: 95%;
  outline: none;
}

input::placeholder {
  color: $border;
}

.darkGrey {
  color: $darkgrey;
}

.chapter {
  gap: 5px 0;
}

.line {
  display: none;
  height: 70px;
  border-left: 2px solid $border;
}

.bordered {
  padding: 0 10px;
  border-left: 2px solid $border;
  border-right: 2px solid $border;
}

.formBtn,
.updateBtn {
  background-color: $blue;
  color: $lightgrey;
  padding: 10px 3%;
  border: none;
  opacity: 1;
  transition: opacity 0.15s ease-in;
  border-radius: 5px;
  font-size: small;
  letter-spacing: 0.9px;
}

.updateBtn:hover,
.formBtn:hover,
.formBtn:focus {
  opacity: 0.8;
  transition: opacity 0.15s ease-in;
}

form {
  flex-direction: column;
}

form > * {
  margin: 10px 0;
}

.iconContainer {
  position: absolute;
  right: 40px;
  padding: 15px;
  border: 1px solid $border;
  border-radius: 50%;
}

.userIcon {
  color: $blue;
  display: flex;
  align-self: center;
}

@media screen and (min-width: 680px) {
  form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .bookContainer {
    flex-direction: row;
  }

  .seperator {
    flex-direction: row;
    gap: 0 40px;
  }

  .line {
    display: flex;
  }

  form > label:first-child {
    width: 50%;
  }

  form > label:nth-child(2) {
    width: 30%;
  }

  #title,
  #author {
    width: 100%;
  }
}
